{% extends 'core/base.html' %}
    {% block content %}


        <div  class="max-w-6xl flex flex-wrap items-start mx-auto py-6 px-6 xl:px-0">
        <div class="filter w-full lg:w-1/4">
            <h3 class="mb-3 text-xl uppercase">search</h3>

{#        for action="." this does action that page we are on right now#}
            <form method="get" action=".">
                <div class=" flex">
{#                    we have put a name in the input field so that we can access it in the backend#}
                    <input type="text" name="query" class="bg-gray-100 p-4 border-0" placeholder="Search...">
                    <button class="p-4 bg-gray-100 border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>

                    </button>
                </div>

            </form>
            <h3 class="mb-3 mt-6 text-xl uppercase">Categories</h3>
{#            This it to give to sort out products only that belongs to the categories#}
            <ul class="space-y-2">
                    <li><a href="{% url 'shop' %}" class="{% if not active_category %}text-purple-500{% else %} text-gray-500 {% endif %} hover:text-purple-800">All Categories</a></li>
                {% for category in categories %}
                <li><a href="{% url 'shop' %}?category={{ category.slug }}" class="{% if category.slug == active_category %}text-purple-500{% else %} text-gray-500 {% endif %} hover:text-purple-800">{{ category.name }}</a></li>
                {% endfor %}
                

            </ul>

        </div>


            <div class="products flex items-center flex-wrap w-full -mt-4 lg:w-3/4">
{#        after getting the data from the front end from views.py as a context we can use that  to put it in the front end#}
            {% for product in products %}
                {% include 'product/partials/product_list_item.html' %}
            {% endfor %}



        </div>

        </div>





    {% endblock %}